@tailwind base;
@tailwind components;
@tailwind utilities;
.rs-modal-content{
    padding: 0 !important;
    border-radius: 0 !important;
    background-color: inherit  !important;
}
.rs-modal-header-close.rs-btn-close{
    color:red !important;
}